
.box{
    margin: 100px auto;
    width: 500px;
    height: 50px;
  }

.search_container{
    width: 500px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search_container input#search{
    width: 500px;
    height: 50px;
    background: #2b303b;
    outline: none;
    border: none;
    font-size: 10pt;
    float: left;
    color: white;
    padding-left: 45px;
    border-radius: 24px
  }

.search_container .icon{
    position: absolute;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: white;
}